$alpha: 0.7;
$darker: 2%;

.marker-cluster-default {
  // inner circle
  background-color: rgba(darken($marker-cluster-color, $darker), $alpha);

  div {
    // outer circle
    background-color: rgba($marker-cluster-color, $alpha);
  }
}

/* IE 6-8 fallback colors */
.leaflet-oldie {
  .marker-cluster-default {
    // inner circle
    background-color: darken($marker-cluster-color, $darker);

    div {
      // outer circle
      background-color: $marker-cluster-color;
    }
  }
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;

  div {
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font:
      12px "Helvetica Neue",
      Arial,
      Helvetica,
      sans-serif;
  }

  span {
    line-height: 30px;
  }
}
