.leaflet-static-popup {
  @include media("screen", ">phone") {
    position: absolute;
    height: 100%;
    margin-left: 6%;
    max-width: 350px;
    margin-right: auto;
    left: auto;
  }
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
  z-index: 450;
}

.map-popup-content {
  height: 100%;
  padding: 0;
  border-radius: 0 0 2rem 0;
  background: rgba(255, 255, 255, 0.9);
  @include media("screen", ">phone") {
    background: rgba(255, 255, 255, 0.97);
  }
  box-shadow: 0 0 1.5rem #ccc;
  overflow: hidden;

  a.map-popup-close-button {
    $height: 20px;

    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    padding: 2px 1px 1px 1px;
    height: $height;
    width: $height;
    font:
      22px/14px Tahoma,
      Verdana,
      sans-serif;
    color: #666;
    background: #f6f6f6;

    &:hover {
      color: darken(#666, 10%);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.map-popup-body-wrapper {
  padding: 1rem 0.5rem 1rem 1rem;
}

.map-popup-body {
  padding: 0;
  height: calc(68vh - 230.667px);
  display: block;
}

.map-popup-header {
  min-height: 0%;
}

.ss-content {
  padding: 0 1rem 0 0;
}
