.map-popup-content {
  &.rock-climbing {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $category-1-color;
    }
    a.map-popup-close-button:hover {
      color: darken($category-1-color, 10%);
    }
  }
  &.ice-climbing {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $category-2-color;
    }
    a.map-popup-close-button:hover {
      color: darken($category-2-color, 10%);
    }
  }
  &.parkour-sport {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $category-3-color;
    }
    a.map-popup-close-button:hover {
      color: darken($category-3-color, 10%);
    }
  }
  &.travel-and-vacations {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $category-4-color;
    }
    a.map-popup-close-button:hover {
      color: darken($category-4-color, 10%);
    }
  }
}
