$category-1-color: #58508d;
$category-2-color: #bc5090;
$category-3-color: #ff6361;
$category-4-color: #ffa600;

$marker-cluster-color: #003f5c;
$zoom-out-button-color: #003f5c;

// zoom out control
svg#zoom-out {
  path {
    fill: $zoom-out-button-color;
  }
}

// make header images in popup fit
img.map-header-image {
  width: 100%;
  object-fit: cover;
}

@import "~include-media/dist/include-media.scss";
@import "~simple-scrollbar/simple-scrollbar";

@import "partials/markercluster.scss";
@import "partials/popup.scss";
@import "partials/popup_categories.scss";
